<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.vetoshkin.shop_mobile">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Speed Of Life"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity">
        </activity>
        <activity
                android:name=".MainLoader"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="Speed Of Life">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".RegistrationActivity">
        </activity>
        <activity
                android:name=".ShopActivity"
                android:label="Speed Of Life">
        </activity>
        <activity android:name=".ProductCard">
        </activity>
    </application>

</manifest>
